{{#if user.isAdmin}}
  <section class="py-5 bg-light">
    <div class="container">
      <p class="d-flex">
        <span class="material-icons">lock</span>
        this section is private for admins
      </p>
      <div class="d-flex justify-content-between">
        <a href="/articles/update/{{article.slug}}" class="btn btn-info px-4 d-flex">
          <span class="material-icons me-2">update</span>
          update article
        </a>
        <button id="delet-article" class="btn btn-danger px-4 d-flex">
          <span class="material-icons me-2">delete</span>
          delete article
        </button>
      </div>
      <form
        class="shadow mx-auto mt-3 px-4 py-3 w-100 d-none"
        id="delet-article-form"
        style="max-width: 400px;"
        method="post"
        action="/articles/delete/{{article.slug}}"
      >
        <h5 class="text-capitalize text-center">are you sure you want to delete this article ?</h5>
        <div class="d-flex justify-content-center mt-3">
          <a href="/articles/{{article.slug}}" class="btn btn-secondary me-2">cancel</a>
          <input type="submit" class="btn btn-danger" value="yes delete it">
        </div>
      </form>
    </div>
  </section>
{{/if}}

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 {{#unless license}}mx-auto{{/unless}}">
        <div class="d-flex justify-content-center">
          <img src="{{article.image}}" alt="it's problem showing you image" class="img-fluid">
        </div>
        <div class="text-capitalize mt-3 d-flex justify-content-between">
          <div>
            created by:
            <a href="/users/profile/{{author.id}}">
              <img src="{{author.img}}" style="height: 30px; width: 30px;" class="rounded-circle mx-1"
                alt="problem showing photo">
              <b>{{author.firstName}} {{author.lastName}}</b>
            </a>
            <span class="text-dark">at: {{article.createdAt}}</span>
          </div>
          <div>
            <span>last update: {{article.updatedAt}}</span>
          </div>
        </div>
        <h1 class="text-center text-capitalize py-3">{{article.title}}</h1>
        <p>{{article.subject}}</p>
        <hr>
        {{!-- START ARTICLE COMMENT --}}
        <div class="comments my-3">
          <h4 class="text-star text-capitalize">comments</h4>
          {{#if user}}
            <div class="comments-form">
              <form method="post">
                <textarea name="comment" type="text" placeholder="type your comment"
                  class="h-auto w-100 border border-1 py-2 px-2"></textarea>
                <input type="submit" class="btn btn-warning px-4" value="post">
              </form>
            </div>
          {{else}}
            <div>
              <a class="text-capitalize" href="/users/login?next=/articles/{{article.slug}}">
                <div class="comments-form">
                  <form method="post">
                    <textarea name="comment" type="text" placeholder="type your comment"
                      class="h-auto w-100 border border-1 py-2 px-2"></textarea>
                  </form>
                </div>
              </a>
            </div>
          {{/if}}
          <div class="comments-created mt-4">
            {{#each comments}}
              {{#each this}}
                {{#if this.content}}
                  <div>
                    <a href="/users/profile/{{this.user.id}}" class="text-capitalize">
                      <img src="{{this.user.image}}" style="height: 30px; width: 30px;" class="rounded-circle mx-1"
                        alt="problem showing photo">
                      <b>{{this.user.firstName}} {{this.user.lastName}}</b>
                    </a>
                    <p class="ps-5">{{this.content}}</p>
                    <hr>
                  </div>
                {{/if}}
              {{/each}}
            {{/each}}
          </div>
        </div>
        {{!-- END ARTICLE COMMENT --}}
      </div>
      {{#if relatedArticles}}
        <div class="col-12 col-md-3">
          <h5 class="text-capitalize text-center mb-4">related articles</h5>
          {{#each relatedArticles}}
            {{#each this}}
              {{#if this.image}}
                <a href="/articles/{{this.slug}}">
                  <div class="card mb-3">
                    <img src="{{this.image}}" class="card-img-top" alt="it's problem showin your photo">
                    <div class="card-body">
                      <h6 class="card-title text-center text-dark text-capitalize">{{this.title}}</h6>
                    </div>
                  </div>
                </a>
              {{/if}}
            {{/each}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</section>

<script>
  document.getElementById('delet-article').onclick = () => {
    document.getElementById('delet-article-form').classList.remove('d-none');
  }
</script>
