<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="profile-img rounded-circle overflow-hidden border border-5 position-relative">
          <img
            src="{{profile.image}}"
            class="img-fluid"
            id="profile-image"
          >
          {{#if profile}}
            {{#if check}}
              <form
                id="profile-form"
                class="profile-img-form text-center position-absolute bottom-0 end-0 w-100"
                enctype="multipart/form-data"
                method="post"
                action="/users/profile-img-upload">
                <div class="d-flex flex-column-reverse mt-2">
                  <div class="button-wrap">
                    <input id="profile-img" name="image" type="file">
                    <label id="profile-label" class="material-icons img-upload btn btn-light px-3" for="profile-img">local_see</label>
                  </div>
                  <div id="profile-form-submition" class="d-none">
                    <button type="submit" class="btn btn-warning rounded-circle">
                      <span class="material-icons d-flex">done</span>
                    </button>
                    <a href="/users/profile/{{profile.id}}" class="btn btn-danger rounded-circle">
                      <span class="material-icons d-flex">close</span>
                    </a>
                  </div>
                </div>
              </form>
            {{/if}}
          {{/if}}
        </div>
        <div id="username" class="position-relative">
          {{#if profile}}
            {{#if check}}
              <span id="edit" class="material-icons position-absolute top-0 end-0 fs-5 cursor-pointer d-none">create</span>
            {{/if}}
          {{/if}}
          <h3 class="mt-4 text-capitalize text-center">{{profile.firstName}} {{profile.lastName}}</h3>
        </div>
        {{#if message}}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {{/if}}
      </div>
      <div class="col-9">
        <div class="py-5 px-4">
          <span class="fs-4 text-muted text-capitalize d-block">joined at {{profile.createdAt}}</span>
          {{#if profile}}
            {{#if check}}
              <div class="my-3">
                <span id="change-email" class="btn btn-outline-dark">change my email</span>
                <span id="change-password" class="btn btn-outline-info">change password</span>
                <form method="post" action="/users/change-email" id="change-email-form" class="auth-form shadow mt-4 mx-auto px-4 py-5 d-none">
                  <div class="field d-flex flex-column-reverse mt-2">
                    <input type="text" id="email" value="{{profile.email}}" name="email" class="w-100" required>
                    <label for="email">email</label>
                  </div>
                  <input type="submit" value="submit" class="btn btn-warning w-100 mt-3">
                </form>
                {{#each changeEmailError}}
                  <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
                    {{this}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {{/each}}
                <form method="post" action="/users/change-password" id="change-password-form" class="auth-form shadow mt-4 mx-auto px-4 py-5 d-none">
                  <div class="field d-flex flex-column-reverse mt-2">
                    <input type="password" id="current-password" name="currentPassword" class="w-100" required>
                    <label for="current-password">current password</label>
                  </div>

                  <div class="field d-flex flex-column-reverse mt-2">
                    <input type="password" id="new-password" name="newPassword" class="w-100" required>
                    <label for="new-password">new password</label>
                  </div>

                  <div class="field d-flex flex-column-reverse mt-2">
                    <input type="password" id="confirm-new-password" name="confirmNewPassword" class="w-100" required>
                    <label for="confirm-new-password">confirm new password</label>
                  </div>

                  <input type="submit" value="submit" class="btn btn-warning w-100 mt-3">
                </form>
                {{#each passworderrorMessage}}
                  <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
                    {{this}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {{/each}}
                {{#if successMessage}}
                  <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
                    {{successMessage}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {{/if}}
              </div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-10 mx-auto">
        <form method="post" action="/users/edit-username" id="username-form" class="auth-form shadow mx-auto px-4 py-5 d-none">
          <div class="field d-flex flex-column-reverse mt-2">
            <input type="text" id="firstName" value="{{profile.firstName}}" name="firstName" class="w-100" required>
            <label for="firstName">first name</label>
          </div>
      
          <div class="field d-flex flex-column-reverse mt-2">
            <input type="text" id="lastName" value="{{profile.lastName}}" name="lastName" class="w-100" required>
            <label for="lastName">last name</label>
          </div>

          <input type="submit" value="submit" class="btn btn-warning w-100 mt-3">
        </form>
        {{#each changeUserNameError}}
          <div class="alert alert-danger mt-3 alert-dismissible fade show" role="alert">
            {{this}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<script>
  // LIVE PREVIEW FOR PROFILE IMAGE CHANGE
  let profileInput = document.getElementById('profile-img');
  let profileLabel = document.getElementById('profile-label');
  let profileFormSubmition = document.getElementById('profile-form-submition');
  let profileForm = document.getElementById('profile-form');
  profileInput.onchange = function () {
    const reader = new FileReader();
    reader.readAsDataURL(this.files[0]);
    reader.onload = function () {
      document.getElementById('profile-image').src = this.result;
      profileLabel.classList.add('d-none');
      profileFormSubmition.classList.remove('d-none');
      profileForm.classList.add('active-form');
    }
  }
  // UPDATE USERNAM FORM
  let edit = document.getElementById('edit');
  let username = document.getElementById('username');
  let usernameForm = document.getElementById('username-form');
  username.onmouseover = () => {
    edit.classList.remove('d-none');
  }
  username.onmouseout = () => {
    edit.classList.add('d-none');
  }
  edit.onclick = () => {
    usernameForm.classList.toggle('d-none');
  }
  // CHANGE EMAIL FORM
  let changeEmailBtn = document.getElementById('change-email');
  let changeEmailForm = document.getElementById('change-email-form');
  changeEmailBtn.onclick = () => {
    changeEmailForm.classList.toggle('d-none');
  }
  // CHNAGE PASSWORD
  let changePasswordBtn = document.getElementById('change-password');
  let changePasswordForm = document.getElementById('change-password-form');
  changePasswordBtn.onclick = () => {
    changePasswordForm.classList.toggle('d-none');
  }
</script>
